@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@page {
    size: A4;
    margin: 20mm;
}

html, body {
    font-family: 'Fira Sans', 'Noto Sans', 'Liberation Sans', 'DejaVu Sans', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    line-height: 1.65;
    color: #333;
}

/* Header */
.header {
    margin-bottom: 10mm;
}

.name {
    font-size: 32pt;
    font-weight: 300;
    color: #000;
    line-height: 1.1;
    margin-bottom: 2mm;
}

.title {
    font-size: 11pt;
    font-weight: 400;
    color: #777;
    text-transform: uppercase;
    letter-spacing: 3pt;
    margin-bottom: 3mm;
}

.contact-line {
    font-size: 8.5pt;
    color: #666;
    font-weight: 300;
}

/* Sections */
.cv-section {
    margin-top: 7mm;
    break-inside: avoid;
}

.section-heading {
    font-size: 11pt;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1.5pt;
    margin-bottom: 3mm;
}

.section-content {
    font-size: 10pt;
    line-height: 1.65;
}

.section-content h3 {
    font-size: 10.5pt;
    font-weight: 500;
    color: #222;
    margin-top: 3mm;
    margin-bottom: 0.5mm;
}

.section-content p {
    margin-bottom: 2mm;
}

.section-content ul {
    list-style: none;
    padding-left: 4mm;
    margin-bottom: 2mm;
}

.section-content li {
    position: relative;
    padding-left: 3mm;
    margin-bottom: 0.8mm;
}

.section-content li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2.2mm;
    width: 3px;
    height: 3px;
    background-color: #999;
    border-radius: 50%;
}
